<%= form_for(@cd) do |f| %>
  <% if @cd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cd.errors.count, "error") %> prohibited this cd from being saved:</h2>

      <ul>
      <% @cd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :time_in_sec %><br>
    <%= f.number_field :time_in_sec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
