%p#notice= notice
%h1 Listing Cds
= will_paginate @cds
%table.table.table-bordered
  %thead
    %tr
      %th=sort_link @search, :name
      %th=sort_link @search, :code
      %th=sort_link @search, :time_in_sec
      %th{:colspan => "3"}
  %tbody
    - @cds.each do |cd|
      %tr
        %td= cd.name
        %td= cd.code
        %td= cd.time_in_sec
        %td= link_to 'Show', cd
        %td= link_to 'Edit', edit_cd_path(cd)
        %td= link_to 'Destroy', cd, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @cds
%br/
= link_to 'New Cd', new_cd_path
