%p#notice= notice
%h1 Listing Cds
%table
  %thead
    %tr
      %th Name
      %th Code
      %th Time in sec
      %th{:colspan => "3"}
  %tbody
    - @cds.each do |cd|
      %tr
        %td= cd.name
        %td= cd.code
        %td= cd.time_in_sec
        %td= link_to 'Show', cd
        %td= link_to 'Edit', edit_cd_path(cd)
        %td= link_to 'Destroy', cd, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cd', new_cd_path
