%p#notice= notice
%p
  %strong Name:
  = @cd.name
%p
  %strong Code:
  = @cd.code
%p
  %strong Songs:
  -@cd.songs.each do |song|
    %li 
      = link_to song.name, song_path(song)
= link_to 'Edit', edit_cd_path(@cd)
|
= link_to 'Back', cds_path
