%p#notice= notice
%p
  %strong Mix:
  -if @track.mix
    = link_to @track.mix.name, @track.mix
%p
  %strong Song:
  -if @track.song
    = link_to @track.song.name, @track.song
%p
  %strong Ord:
  = @track.ord
= link_to 'Edit', edit_track_path(@track)
|
= link_to 'Back', tracks_path
