%p#notice= notice
%h1 Artists
=render 'shared/search_form'
= will_paginate @artists
%table.table.table-bordered
  %thead
    %tr
      %th=sort_link @search, :name
      %th{:colspan => "3"}
  %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= link_to 'Show', artist
        %td= link_to 'Edit', edit_artist_path(artist)
        %td= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @artists
%br/
= link_to 'New Artist', new_artist_path
