%h1 Mixes
= will_paginate @songs
%table.table.table-bordered
  %thead
    %tr
      %th=sort_link @search, :code
      %th=sort_link @search, :name
      %th=sort_link @search, :length_in_sec
      %th=sort_link @search, :date_for_mix_list
      %th=sort_link @search, :recorded_at
      %th=sort_link @search, :description
      %th=sort_link @search, :source
      %th=sort_link @search, :music_type
      %th=sort_link @search, :notes
      %th{:colspan => "3"}
  %tbody
    - @mixes.each do |mix|
      %tr
        %td=mix.code
        %td= mix.name
        %td= mix.length_in_sec
        %td= mix.date_for_mix_list
        %td= mix.recorded_at
        %td= mix.description
        %td= mix.source
        %td= mix.music_type
        %td= mix.notes
        %td= link_to 'Show', mix
        %td= link_to 'Edit', edit_mix_path(mix)
        %td= link_to 'Destroy', mix, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @songs
%br

= link_to 'New Mix', new_mix_path
\|
=link_to 'Upload Mixes', upload_mixes_path