<p id="notice"><%= notice %></p>

<h1>Listing Mixes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Length in sec</th>
      <th>Recorded at</th>
      <th>Description</th>
      <th>Source</th>
      <th>Music type</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mixes.each do |mix| %>
      <tr>
        <td><%= mix.name %></td>
        <td><%= mix.length_in_sec %></td>
        <td><%= mix.recorded_at %></td>
        <td><%= mix.description %></td>
        <td><%= mix.source %></td>
        <td><%= mix.music_type %></td>
        <td><%= mix.notes %></td>
        <td><%= link_to 'Show', mix %></td>
        <td><%= link_to 'Edit', edit_mix_path(mix) %></td>
        <td><%= link_to 'Destroy', mix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mix', new_mix_path %>
