= form_for(@song) do |f|
  - if @song.errors.any?
    #error_explanation
      %h2
        = pluralize(@song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - @song.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :artist_id
    %br/
    = f.text_field :artist_id
  .field
    = f.label :length_in_sec
    %br/
    = f.number_field :length_in_sec
  .field
    = f.label :year
    %br/
    = f.number_field :year
  .field
    = f.label :top_billboard_spot
    %br/
    = f.number_field :top_billboard_spot
  .field
    = f.label :billboard_weeks
    %br/
    = f.text_field :billboard_weeks
  .actions
    = f.submit
