%p#notice= notice
%h1 Songs
=render 'shared/search_form'
= will_paginate @songs
%table.table.table-bordered
  %thead
    %tr
      %th=sort_link @search, :name
      %th=sort_link @search, :artist_name, 'Artist'
      %th=sort_link @search, :length_in_sec, "Length in sec"
      %th=sort_link @search, :year
      %th=sort_link @search, :top_billboard_spot, 'Top billboard spot'
      %th=sort_link @search, :billboard_weeks, 'Billboard weeks'
      %th{:colspan => "3"}
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.name
        %td
          -if song.artist
            = link_to song.artist.name, artist_path(song.artist)
        %td= song.length_in_sec
        %td= song.year
        %td= song.top_billboard_spot
        %td= song.billboard_weeks
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @songs
%br/
= link_to 'New Song', new_song_path
\|
=link_to "Upload Songs", upload_songs_path
