<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Length in sec:</strong>
  <%= @song.length_in_sec %>
</p>

<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>

<p>
  <strong>Top billboard spot:</strong>
  <%= @song.top_billboard_spot %>
</p>

<p>
  <strong>Billboard weeks:</strong>
  <%= @song.billboard_weeks %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
